.headline {
  margin-top: -20px;
  width: 100%;
  height: 550px;
  background: url("../img/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.headline>h1{
  padding-top: 210px;
  color:  #D62626;
  font-weight: bold;
  font-size: 80px;
  font-style: italic;
  text-shadow: 2px 2px 3px black;
}

.pitch-text {
  text-shadow: 2px 3px 3px #222;
  color:  #bb0000;
}

h2, h3 {
  color:  #D62626;
  font-weight: bold;
}

.navbar-default {
  width: 100%;
  z-index: 1;
}

.logo {
  height: 70px;
  width: 160px;
  margin-top: -10px;
  margin-right: 20px;
}

.nav {
  margin-top: 15px;
  font-size: 1.6em;
  font-weight: bold;
  padding-bottom: 10px;
}

.active {
  color: #D62626 !important;
  background: none;
}

.index-img {
  padding:20px 40px;
}

footer {
  margin-top: 40px;
  width: 100%;
  height: 80px; 
  border-top: 1px solid lightgrey;
  background: #F8F8F8;
}

footer p {
  margin-top: 30px;
  font-size: 1.2em;
}

.services-list li {
  font-size: 1.6em;
  list-style: none;
  margin-left: -35px;
}

.img-responsive {
  max-height: 280px;
}


.contact-row {
  height: calc(100vh - 220px);
}

@media (max-width: 991px) {
  .nav {
    margin-top: 15px;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .logo {
    margin-top: -10px;
    margin-right: -15px;
  }
}

@media (max-width: 767px) {
  .headline>h1{
    padding-top: 200px;
    font-size: 70px;
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  .logo {
    height: 43px;
    width: 110px;
    margin-top: -10px;
  }

  .services-list li {
    font-size: 20px;
  }

  .services-list{
    margin-top: 10px;
  }
}

@media (max-width: 460px) {
  .headline>h1{
    padding-top: 210px;
    font-size: 55px;
  }
}

/*------------------------------------*    MATERIAL PHOTO GALLERY
\*------------------------------------*/
.m-p-g {
  max-width: 100%;
  margin: 0 auto;
}

.m-p-g__thumbs-img {
  padding-right: 1px;
  padding-bottom: 1px;
  box-shadow: 0 0 2px #111;
  box-sizing: border-box;
  float: left;
  vertical-align: bottom;
  cursor: pointer;
  z-index: 1;
  position: relative;
  opacity: 0;
  filter: brightness(100%);
  -webkit-tap-highlight-color: transparent;
  will-change: opacity, transform;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.m-p-g__thumbs-img.active {
  z-index: 50;
}

.m-p-g__thumbs-img.layout-completed {
  opacity: 1;
}

.m-p-g__thumbs-img.hide {
  opacity: 0;
}

.m-p-g__thumbs-img:hover {
  filter: brightness(110%);
}

.m-p-g__fullscreen {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  visibility: hidden;
  transition: background 0.25s ease-out, visibility 0.01s 0.5s linear;
  will-change: background, visibility;
  backface-visibility: hidden;
}

.m-p-g__fullscreen.active {
  transition: background .25s ease-out,
  visibility .01s 0s linear;
  visibility: visible;
  background: rgba(0, 0, 0, 0.95);
}

.m-p-g__fullscreen-img {
  pointer-events: none;
  position: absolute;
  transform-origin: left top;
  top: 50%;
  left: 50%;
  max-height: 100vh;
  max-width: 100%;
  visibility: hidden;
  will-change: visibility;
  transition: opacity 0.5s ease-out;
}

.m-p-g__fullscreen-img.active {
  visibility: visible;
  opacity: 1 !important;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out;
}

.m-p-g__fullscreen-img.almost-active {
  opacity: 0;
  transform: translate3d(0, 0, 0) !important;
}

.m-p-g__controls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  height: 20vh;
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.55) 100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.m-p-g__controls.active {
  opacity: 1;
  visibility: visible;
}

.m-p-g__controls-close, .m-p-g__controls-arrow {
  appearance: none;
  border: none;
  background: none;
}

.m-p-g__controls-close:focus, .m-p-g__controls-arrow:focus {
  outline: none;
}

.m-p-g__controls-arrow {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 20%;
  height: 100vh;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
}

.m-p-g__controls-arrow:hover {
  opacity: 1;
}

.m-p-g__controls-arrow--prev {
  left: 0;
  padding-left: 3vw;
  justify-content: flex-start;
}

.m-p-g__controls-arrow--next {
  right: 0;
  padding-right: 3vw;
  justify-content: flex-end;
}

.m-p-g__controls-close {
  position: absolute;
  top: 3vh;
  right: 3vw;
  z-index: 5;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.m-p-g__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.07);
  transition: all .25s ease-out;
}

.m-p-g__btn:hover {
  background: rgba(255, 255, 255, 0.15);
}

.m-p-g__alertBox {
  position: fixed;
  z-index: 999;
  max-width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 25px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  color: grey;
}

.m-p-g__alertBox h2 {
  color: red;
}

/* DEMO */
body {
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.demo-btn {
  display: inline-block;
  margin: 0 2.5px 4vh 2.5px;
  text-decoration: none;
  color: grey;
  padding: 15px;
  line-height: 1;
  min-width: 140px;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.demo-btn:hover {
  background: rgba(0, 0, 0, 0.12);
}

@media (max-width: 640px) {
  .demo-btn {
    min-width: 0;
    font-size: 14px;
  }
}
